.CardPickerContainer {
  bottom: 0;
  padding: 10px 50px 10px 50px;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
}

.CardPicker {
  min-width: 70px;
  max-width: 70px;   
  max-height: 98px;  
  min-height: 98px;  
  margin-top: 10px;
  cursor: pointer;
  background-color: var(--color-background-secondary);
}

.CardPicker:hover {
  box-shadow: 0 0px 12px 0 lightgrey;
  border: 3.5px solid rgba(0, 51, 102, 0.9)
}

.CardContent {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-bottom: 15px !important;
}

.CardContentTop {
  margin-top: -2px;
  text-align: left;
}

.CardContentMiddle {
  padding: 12px 0 12px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.CardContentBottom {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 25px;
  text-align: right;
}
