.PlayerCard {
  max-width: 90px;            /* 75% of original width (120px * 0.75) */
  min-width: 90px;
  height: 112.5px;            /* 75% of original height (150px * 0.75) */
  margin: 10px;
  margin-top: 30px;           /* Adjusted margin-top (40px * 0.75) */
  width: 90%;                 /* Width relative to its container */
  overflow: initial;
  background-color: var(--color-background-secondary);
  transition: 0.3s;
  border-radius: 4px;
}

.PlayerCardTitle {
  display: flex;
  text-align: center;
  border-radius: 16px;
  border: 2px solid var(--color-primary);
  background-color: var(--color-background);
  margin: -25px auto 0;       /* Adjusted margin (-20px * 0.75) */
  width: 95%;                 /* 75% of the original 88% (88% * 0.75) */
  padding: 5px;              /* Proportional padding (16px * 0.75) */
  height: 40px;               /* Proportional height (40px * 0.75) */
}

.RemoveButton{
  margin-top: -20px;
}

.MuiCardHeader-content {
  width: 75% !important;
}
.PlayerCardContent {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.PlayerCardContentMiddle {
  display: flex;
  justify-content: center;
}